<footer>
	<div class="content-padding">
	<div class="footer-content">
		<p>Copyright &copy; Ermira Kajtazi</p>
		<div class="social-media-icons">
			<a href="https://web.facebook.com/profile.php?id=100010093688500"><i class="fa fa-empire"></i></a>
			<a href="#"><i class="fa fa-empire"></i></a>
		</div>
	</div>
  </div>
</footer>